body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #3a363a;
}

.container > a{
    padding: 30px;
    margin: 20px;

}

a{
    text-decoration: none;
    color: white;
    transition: opacity 0.2s ease-in-out;
    
}

a:hover{
    opacity: 0.5;
}

icon{
    display: block;
}