body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    text-align: center;
    font-size: 40px;
}

header{
    text-align: center;
    height: 40px;
    background-color: black;
    color: white;
    padding-top:19px ;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    padding-top:19px 
}
