body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.container{
    background-image: url(imgs/bg.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.text{
    font-size: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}